In [1]:
import os
import pandas as pd
# from bs4 import BeautifulSoup
# import urllib.request
import requests

path_base = 'C:\\Users\\vishesh.vishesh\\Desktop\\Py\\Rankings'

In [2]:
# TFE Rankings
url_tfe = 'https://tfetimes.com/2016-computer-science-rankings/'
df_tfe = pd.read_html(url_tfe,header=0)[0]
df_tfe.drop(['Program'],axis=1,inplace=True)
df_tfe.columns = ["Rank_TFE", "University"]

In [3]:
# TFE to excel
writer_tfe = pd.ExcelWriter(os.path.join(path_base,'tfe.xlsx'), engine='xlsxwriter')
df_tfe.to_excel(writer_tfe, index = False)

In [3]:
df_tfe.head(25)

    Rank_TFE                                     University
0          1                            Stanford University
1          2                     Carnegie Mellon University
2          3                Georgia Institute of Technology
3          4             University of California, Berkeley
4          5          Massachusetts Institute of Technology
5          6                       University of Washington
6          7                           Princeton University
7          8                             Cornell University
8          9     University of Illinois at Urbana-Champaign
9         10                     University of Pennsylvania
10        11                  University of Texas at Austin
11        12                University of Wisconsin-Madison
12        13                         University of Michigan
13        14              University of Southern California
14        15             California Institute of Technology
15        16          University of California, Los Angeles
16        17                                Yale University
17        18                            Columbia University
18        19            University of California, San Diego
19        20           University of Maryland, College Park
20        21                                Rice University
21        22            University of Massachusetts Amherst
22        23                             Harvard University
23        24    University of North Carolina at Chapel Hill
24        25  Pennsylvania State University University Park

In [4]:
len(df_tfe)

242

In [5]:
# US New Rankings
url_usn = 'http://grad-schools.usnews.rankingsandreviews.com/best-graduate-schools/top-science-schools/computer-science-rankings'

url_list = [url_usn]
url_base = 'http://grad-schools.usnews.rankingsandreviews.com/best-graduate-schools/top-science-schools/computer-science-rankings/page+'

for i in range(2,6):
	url_list.append(url_base + str(i))


header = {'User-Agent': 'Mozilla/5.0'} # Needed to prevent 403 error

dfs = []
def read_tables(x):
	for url in x:
		dfs.append(pd.read_html(requests.get(url,headers=header).text,attrs={'class': 'ranking-data table         table-lighthead \
        table-packed ranking-data-free '})[0])

read_tables(url_list)

In [6]:
usn_frames = []
# Cleaning USN data
for df in dfs:
    # Delete row at index 3
    df.drop(df.index[[3]], inplace=True)
    # Rename columns 
    df.columns = ['Rank','University','Score']
    # Strip Rank to extract only number
    df['Rank'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')
    df.drop(['Score'],axis=1,inplace=True)
    df.columns = ["Rank_USN", "University"]
    usn_frames.append(df)

In [7]:
df_usn = pd.concat(usn_frames,ignore_index=True)

In [8]:
df_usn.head(25)

   Rank_USN                                         University
0         1          Carnegie Mellon University Pittsburgh, PA
1         1  Massachusetts Institute of Technology Cambridg...
2         1                   Stanford University Stanford, CA
3         1    University of California—​Berkeley Berkeley, CA
4         5  University of Illinois—​Urbana-​Champaign Urba...
5         6                      Cornell University Ithaca, NY
6         6               University of Washington Seattle, WA
7         8                 Princeton University Princeton, NJ
8         9        Georgia Institute of Technology Atlanta, GA
9         9             University of Texas—​Austin Austin, TX
10       11    California Institute of Technology Pasadena, CA
11       11       University of Wisconsin—​Madison Madison, WI
12       13  University of California—​Los Angeles Los Ange...
13       13    University of Michigan—​Ann Arbor Ann Arbor, MI
14       15                   Columbia University New York, NY
15       15   University of California—​San Diego La Jolla, CA
16       15  University of Maryland—​College Park College P...
17       18                   Harvard University Cambridge, MA
18       19        University of Pennsylvania Philadelphia, PA
19       20                    Brown University Providence, RI
20       20  Purdue University—​West Lafayette West Lafayet...
21       20                        Rice University Houston, TX
22       20  University of Southern California Los Angeles, CA
23       20                      Yale University New Haven, CT
24       25                         Duke University Durham, NC

In [9]:
len(df_usn)

125

In [10]:
# USN to excel
writer_usn = pd.ExcelWriter(os.path.join(path_base,'usn.xlsx'), engine='xlsxwriter')
df_usn.to_excel(writer_usn,index=False)

In [10]:
# Happy Schools ranking

url_hs = 'http://www.happyschools.com/nrc-computer-science-rankings/'
df_hs = pd.read_html(requests.get(url_hs,headers=header).text,header=0)[0]
df_hs.drop(['R-Rank','S-Rank'],axis=1,inplace=True)
df_hs.columns = ["Rank_HS", "University"]

In [11]:
#df_hs.head(25)
len(df_hs)

128

In [12]:
# To lowercase
df_hs['University'] = df_hs['University'].apply(lambda x: str(x).lower())

In [13]:
# First letter capital
df_hs['University'] = df_hs['University'].apply(lambda x: str(x).title())

In [13]:
# HS to excel
writer_hs = pd.ExcelWriter(os.path.join(path_base,'hs.xlsx'), engine='xlsxwriter')
df_hs.to_excel(writer_hs, index = False)

In [14]:
# msinus ranking

url_msinus = 'http://www.msinus.com/content/computer-science-rankings-us-universities-265/'
df_msinus = pd.read_html(url_msinus,header=None)[0]
df_msinus.columns = ["Rank_MSINUS","University", "Location"]
df_msinus.drop(['Location'],axis=1,inplace=True)

In [23]:
#df_msinus.head(25)
#len(df_msinus)
x = min(len(df_msinus),len(df_hs),len(df_usn),len(df_tfe))
l = [df_msinus,df_hs,df_usn,df_tfe]
for a in l:
    print(len(a))
    a = a.head(x)
    print(len(a))

80
80
128
80
125
80
242
80

In [27]:
df_msinus = df_msinus.head(80)
df_hs = df_hs.head(80)
df_usn = df_usn.head(80)
df_tfe = df_tfe.head(80)
len(df_usn)

80

In [30]:
len(df_msinus)

80

In [31]:
changes = {'Berkeley':'UC Berkeley','Carnegie':'CMU','Massachusetts Institute of Technology':'MIT',
          'Stanford':'Stanford University', 'Champaign':'UIUC', 'Cornell':'Cornell University',
           'University of Washington':'UW Seattle','Princeton':'Princeton University', 
           'Georgia Institute of Technology':'Georgia Tech', 'Austin':'UT Austin','Madison':'UW Madison', 
           'Los Angeles':'UCLA', 'University of Michigan':'UMich Ann Arbor',
           'Columbia University':'Columbia University', 'College Park':'UMCP','Harvard University':'Harvard University',
           'University of Pennsylvania':'UPenn','Brown University':'Brown University','Rice University':'Rice University',
           'University of Southern California':'USC','Yale':'Yale University','Duke':'Duke University', 
           'Purdue':'Purdue University','Rice':'Rice University','San Diego':'UCSD','Amherst':'UMass Amherst',
           'Chapel Hill':'UNC Chapel Hill','Johns Hopkins':'JHU','New York University':'NYU',
           'Pennsylvania State University':'Penn State','Irvine':'UC Irvine','Minnesota':'UMinn Twin Cities',
           'University of Virgina':'UVa','Northwestern':'NWU','Ohio State':'OSU','Rutgers':'Rutgers','Davis':'UC Davis',
           'Santa Barbara':'UC Santa Barbara'
          }

In [32]:
for k,v in changes.items():
    df_msinus.loc[df_msinus['University'].str.contains(k, case=False), 'University'] = v

In [33]:
for k,v in changes.items():
    df_usn.loc[df_usn['University'].str.contains(k, case=False), 'University'] = v

In [34]:
for k,v in changes.items():
    df_hs.loc[df_hs['University'].str.contains(k, case=False), 'University'] = v

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:420: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [35]:
for k,v in changes.items():
    df_tfe.loc[df_tfe['University'].str.contains(k, case=False), 'University'] = v

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:420: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [16]:
# msinus to excel
writer_msinus = pd.ExcelWriter(os.path.join(path_base,'msinus.xlsx'), engine='xlsxwriter')
df_msinus.to_excel(writer_msinus, index = False)

In [36]:
x = pd.merge(df_msinus,df_hs,how='inner',on='University')

In [37]:
y = pd.merge(x,df_tfe,how='inner',on='University')

In [38]:
z = pd.merge(y,df_usn,how='inner',on='University')

In [39]:
z

   Rank_MSINUS            University  Rank_HS  Rank_TFE Rank_USN
0            1                   MIT        2         5        1
1            2   Stanford University        1         1        1
2            3           UC Berkeley        5         4        1
3            4                   CMU        4         2        1
4            5    Cornell University        7         8        6
5            6  Princeton University        3         7        8
6            8             UT Austin       14        11        9
7            9    Harvard University        9        23       18
8           10                  UIUC        6         9        5
9           11            UW Madison       18        12       11
10          12                  UCLA       10        16       13
11          12                  UCLA       10        16       20
12          13       Yale University       44        17       20
13          14                  UMCP       15        20       15
14          15      Brown University       26        26       20
15          16            UW Seattle       24         6        6
16          17         UMass Amherst       23        22       25
17          18       Rice University       47        21       20
18          20       UMich Ann Arbor       17        13       13
19          22          Georgia Tech       12         3        9
20          23                   NYU       49        33       29
21          23                   NYU       49        33       70
22          24                 UPenn       13        10       19
23          45                 UPenn       13        10       19
24          25                   NWU       54        38       34
25          26     Purdue University       28        29       20
26          27                  UCSD       16        19       15
27          28               Rutgers       70        48       34
28          29   Columbia University       20        18       15
29          30       UNC Chapel Hill        8        24       25
30          34       Duke University       22        27       25
31          35             UC Irvine       33        36       29
32          38                   OSU       32        39       34
33          41                   JHU       76        31       28
34          46     UMinn Twin Cities       30        35       29
35          53      UC Santa Barbara       11        42       34
36          60              UC Davis       43        45       34

In [34]:
df_tfe.loc[df_tfe['University'].str.contains('Maryland')]

     Rank_TFE                  University
150       151  Loyola University Maryland